# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# VS Code settings
.vscode/

# Streamlit cache
.streamlit/

# Generated outputs
outputs/
reports/

# System files
.DS_Store
Thumbs.db

# Environment variables
.env

# Jupyter checkpoints
.ipynb_checkpoints/

# Python build files
build/
dist/
*.egg-info/

# Logs
*.log